[submodule "themes/hueman"]
	path = themes/hueman
	url = https://github.com/zhaochangwu/hexo-theme-hueman.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next
